.app__testimonial-title{
    padding-top: 20px;
    padding-left: 270px;
    color:#2D83EE;
    font-size: 16px;
}
.app__testimonial-desc{
    padding-top: 20px;
    display: flex;
    padding-left: 270px;
    justify-content:flex-start;
    font-size: 40px;
    button{
        color: white;
        margin-left: 410px;
        padding: 8px 30px;
        border-radius: 7px;
        border-style: none;
        background-image: linear-gradient(to right,#7184FD,#4E7DF4,#497CF3,#3F7AF0,#4F37EE);
    }
}

.app__testimonial-cont{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    
}
.app__testimonial-item{
    width: 372px;


    img{
        padding-left: 37px;
        width:70%
    }
}
.app__testimonial-item-desc{
    font-size: 18px;
    padding-top: 5px;
}
.app__testimonial-item-title{
    font-weight: bold;
    font-size: 22px;
    padding-top: 15px;
}
.app__testimonial-item-post{
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 20px;
}
